*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins";
}

/****************** navbar   **************/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vw;
}
nav img{
    width: 120px;

}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
     gap: 3rem;
     font-size: 1.3rem;
     cursor: pointer;
}

.nav-items :first-child{
    color: orangered;

}
 
nav img:last-child{
    width: 230px;
    cursor: pointer;

}
/**************************intro-section********/


.intro-section{
    display: flex;
    align-items: center;
    
}

.left-section{
    max-width: 700px;
    margin-top: 40px; 
}

.left-section h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
.left-section img{
    width: 40px;
    margin-left: 10px;
}
.left-section h1{
     font-size: 4.3rem;
     font-family: "Fredoka+One";
     
}
.sub-headlines {
    font-size: 1.5rem;
    margin-left: 80px;
    margin-top: 40px;
}

.sub-headlines h5{
    display: flex;
    margin-top: 10px;
    
    
    
        
}
.sub-headlines h5 img{
    background-color: #ff4500;
    border-radius: 90px;
    cursor: pointer;
    padding: 3px;
    position: relative;
    margin-right: 15px;
    
    
}
.text {
    font-size: 14px;
    color: #686464;
    margin-top: 55px;
}
.action-btn{
    background-color: #ff4500;
    cursor: pointer;
    padding: 15px 35px;
    color:#fff;
    border-radius: 40px;
    font-size: 15px;
    border: none;
}

.action-btns{
    margin-top: 35px;
    
}
.action-btn:not(last-child){
    margin-right: 30px;
}

/****************** right section*********/

.right-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headphone-div{
    width: 600px;
    position: relative;
}
.discount-content{
    top: 230px;
    left: 70px;
    color: #fff;
    position: absolute;

}
.headphone-div img:first-child {
    position: absolute;
    width: 120px;
    top: 200px;
    left: 40px;
}
.headphone-div img:last-child {
    width: 420px;
    position: relative;
    top: -20px;
    left: 70px;
    z-index: -1;
}
.dots {
    display: flex;
    gap: 30px;
    margin-top: -20px;
    
    
}
.dots .dot {
    height: 26px;
    width: 26px;
    border-radius: 50px;
}
.dot.yellow-dot{
    background-color:yellow;
}
.dot.tomato-dot{
    background-color: #ff4500;

}
.dot.black-dot{
    background-color: black;
}
.action-btn{
    margin-top: 50px;
    padding: 20px 35px;
    left: 30px;
    font-size: 15px;
}